html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #d6d1d4a3; 
  display: flex;
  flex-direction: column; /* 将内容以列的方式排列 */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 最小高度设置为视窗的高度 */
  margin: 0;
  overflow: hidden;
}

.login-container {
  text-align: center;
  color: #333;
}

.logo {
  width: 200px; /* 根据需要调整大小 */
  height: auto;
  margin-bottom: -0.5rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: hwb(0 35% 53%); /* 标题颜色 */
  margin-left: 26px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; /* 输入框与下方内容之间的间距 */
  justify-content: center; /* 将内容居中 */
}

.input-group label {
  margin-right: 0.5rem; /* 标签和输入框之间的间距 */
  color: #333;
}

.input-group input {
  width: 200px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 0.05rem; /* 输入框与下方错误消息之间的间距 */
}

.error-message {
  color: red;
  font-size: 1.1rem; /* 调整错误消息字体大小 */
  margin-bottom: 1rem; /* 错误消息与下一个输入组之间的间距 */
}

button {
  background-color: #ac7575;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 26px;
}

button:hover {
  background-color: rgb(229, 163, 163);
}

.footer {
  background-color: #9da2a6;
  padding: 10px 20px; /* 调整 padding 以达到细长的效果 */
  text-align: center;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  width: 100%; /* 让 footer 占满整个宽度 */
}

.login-container {
  text-align: center;

  color: #333;
  flex-grow: 1; /* 让 login-container 自动扩展以填满剩余的空间 */
  margin-top: 80px; /* 增加上边距以与 footer 分开 */
}
